@import '../../styles/variables.scss';

.container {
	display: none;
}

@media only screen and (max-width: 1025px) {
	.container {
		display: flex;
		width: 100%;
		justify-content: space-around;
		padding: 15px 10px;
		z-index: 999;
		position: fixed;
		bottom: 30px;

		div {
			background: #308ab4;
			color: white;
			font-size: 14px;
			width: 71px;
			border-radius: 32px;
			text-align: center;
			padding: 5px 12px;
			line-height: 14px;
			font-weight: 200;
			cursor: pointer;
		}
	}

	.active {
		background: #204050 !important;
	}
}