// Color
$colorSky: #308AB4;
$colorBlack: #2B2B2B;
$colorWhite: white;
$colorSkyBack: #2F5468;
$colorGrayBlack: rgba(0,0,0,0.3);
$colorGray: #4B4B4B;

// Font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$fontRaleway: 'Raleway', sans-serif;